modules = ["rust-stable", "web"]
run = "cargo run"
[nix]
channel = "stable-25_05"
packages = ["rustup", "dioxus-cli", "openssl", "mob", "direnv", "wasm-bindgen-cli_0_2_100"]

[workflows]
runButton = "Serve Web App"

[[workflows.workflow]]
name = "Serve Web App"
author = 45923249
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "dx serve --platform web --port 5000 --hot-reload true"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
run = ["sh", "-c", "cargo run"]
